nav.navbar.navbar-dark.bg-dark

    .container-fluid

        a.navbar-brand(href="/dashboard")
            | Asset Management

        if admin
            span.text-white.ms-auto
                | Welcome, #{admin.name}