.col-md-2.bg-light.vh-100

    ul.nav.flex-column.mt-3

        li.nav-item

            a.nav-link(href="/dashboard")

                |   Dashboard      
                
        li.nav-item

            a.nav-link(href="/branches")

                |   Branch     
        li.nav-item

            a.nav-link(href="/departments")

                |   Department
                
        li.nav-item

            a.nav-link(href="/employees")

                |   Employee 
                
        li.nav-item

            a.nav-link(href="/assetCategories")

                |   Asset Categories
        li.nav-item

            a.nav-link(href="/vendors")

                |   Vendors    
        li.nav-item

            a.nav-link(href="/assets")

                |   Assets      
                
        li.nav-item
            a.nav-link(href="/assets/issue")
                | Issue Asset

        li.nav-item
            a.nav-link(href="/assets/return")
                | Return Asset

        li.nav-item
            a.nav-link(href="/assets/scrap")
                | Scrap Asset      
        li.nav-item
            a.nav-link(href="/asset-transactions")
                | Asset Transactions
        li.nav-item
            a.nav-link(href="/assets/stock")
                | Stock View
        li.nav-item

            a.nav-link(href="/logout")

                |   Logout